*{
    font-family: 'Jua', sans-serif;
}

h1{
    font-size: 80px;
}

p{
    font-size: 60px;
}

#button{
    text-align: center;
}

.button {
    background-color: lightgrey;
    color: black;
    padding: 20px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    border-radius: 12px;
}

img{
    max-width: 100%; 
    height: auto;
}